<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoveMD1.0.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>372F37322DC17F6300E1015E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>372F37412DC17F6600E1015E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>372F374B2DC17F6600E1015E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>372F39522DC4081900E1015E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>372F395F2DC408AE00E1015E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
